body {
  padding-top: 50px;
}

.form-search-champion {
	margin-bottom: 1em;
}

.champion-list .item-champion .thumbnail  {
    background-color: #2ecc71;
    color: white;
}

.blue-team {
	background-color: #3498db;
}

.violet-team {
	background-color: #9b59b6;
}
.inselectionnable {
    cursor: not-allowed;
}

.selectionnable {
    cursor: pointer;
}

.blue-team .thumbnail, .violet-team .thumbnail {
    width: 100px;
    height: 100px;
}
.champion-list .item-champion {
    position: absolute;
}

.typeRegle {
    display: none;
}