
{% extends "TmTeambuilderBundle::layout.html.twig" %}

{% block title %}
    Ajouter - {{ parent() }}
{% endblock %}

{% block tmteambuilder_body %}

    <h2>Ajouter un type d'attaque de champion :</h2>

{% include "TmTeambuilderBundle:Teambuilder:formulaire.html.twig" %}

{% endblock %}