<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        <label class="required" for="typeregle">Type de règle </label>
        <select id="typeregle" name="typeregle">
            <option value="caracteristique">Caractéristique</option>
            <option value="role">Rôle</option>
            <option value="typeAttaque">Type d'attaque</option>
        </select>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>