<div class="well">
    <form id="recherche-champion" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
        {{ form_rest(form) }}
    </form>
</div>