{% extends "TmTeambuilderBundle::layout.html.twig" %}
    {% block title %}
        Créateur d'équipe optimisée - League of Legends
    {% endblock %}

    {% block tmteambuilder_body %}
        <h2>Créez votre équipe :</h2>

        <div class="col-md-12">
            <div class="row form-search-champion">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label for="team">Je suis :</label>
                        <label><input name="team" class="form-control" type="radio" value="BLUE"> Bleu</label>
                        <label><input name="team" class="form-control" type="radio" value="VIOLET"> Violet</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <input type="search search-input" class="form-control champion-search-input" placeholder="Chercher un champion...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}