
{% extends "TmTeambuilderBundle::layout.html.twig" %}

{% block title %}
    Modification des regles personnalisées
{% endblock %}

{% block tmteambuilder_body %}

    <h2>Modifier une règle :</h2>
    {% include "TmTeambuilderBundle:Teambuilder:formulaire.html.twig" %}

{% endblock %}