
{% extends "TmTeambuilderBundle::layout.html.twig" %}

{% block title %}
    Modifier - {{ parent() }}
{% endblock %}

{% block tmteambuilder_body %}

    <h2>Modifier un rôle :</h2>
    {% include "TmTeambuilderBundle:Teambuilder:formulaire.html.twig" %}

{% endblock %}